h1 {
  text-align: center;
  color: #010101;
  font-family: "Gill Sans", sans-serif;
}

h2 {
  text-align: center;
  color: #010101;
  font-family: "Gill Sans", sans-serif;
}

h3 {
  text-align: center;
  color: #010101;
  font-family: "Gill Sans", sans-serif;
}

h4 {
  text-align: center;
  color: #010101;
  font-family: "Gill Sans", sans-serif;
}

li {
  font-size: 18px;
}
