<h1>Create a new Piece</h1>

<form action="/pieces" method="POST">
  <label for="piece_name">Name: <input type="text" name="name" id="piece_name"></label>
  <label for="piece_size">Size: <input type="text" name="size" id="piece_size"></label>
  <input type="submit" value="Create Piece">
</form>
