<h1>Create a new Piece</h1>

<form action="/pieces" method="POST">
  <label for="piece_name">Name: <input type="text" name="piece[name]" id="piece_name"></label>
  <label for="piece_size">Size: <input type="text" name="piece[size]" id="piece_size"></label>
  <label for="piece_quantity">Quantity: <input type="text" name="piece[quantity]" id="piece_quantity"></label>

  <h2>Patterns</h2>
  <% Pattern.all.each do |pattern| %>
    <input type="checkbox" name="piece[pattern_ids][]" id="pattern_<%= pattern.id %>" value="<% pattern.id %>"<%=pattern.name%></input><br>
  <% end %>
  <br></br>
  <h2>Create New Pattern:</h2>
  <label>Name: </label>
  <input type="text" name="pattern[name]" id="new_pattern">
  <label>Theme: </label>
  <input type="text" name="pattern[theme]" id="new_theme">
  <br></br>
  <input type="submit" value="Create Piece">
</form>

<a href="/"></a>
