<h1>Welcome <%=@user.username %> Here Are Your Pieces:</h1>

<% @pieces.each do |piece| %>
  <ul>
    <li>Name: <%= piece.name %>, Size: <%= piece.size %>, Total: <%= piece.quantity %> </li>
  </ul>
<% end %>

<a href="/patterns/patterns">See Your Patterns</a></br>
<a href="/pieces/create_piece">Add A Piece to your Collection</a><br>
<a href="/patterns/create_pattern">Add A Pattern to your Collection</a><br>
<a href="/collections/show_collection">See Your Collection</a><br>
<a href="/logout">Log Out</a><br>
