<h2>Piece Name: <%= @piece.name %></h2>
<br>
<h2>Size: <%= @piece.size %></h2>
<br>
<h2>Pattern: <%= @piece.pattern_name %></h2>

<a href="/pieces/create_piece">Add A Piece to your Collection</a><br>
<a href="/patterns/create_pattern">Add A Pattern to your Collection</a><br>
<a href="/collections/show_collection">See Your Collection</a><br>
<a href="/logout">Log Out</a><br>
