<h1>Create a new Pattern</h1>

<form action="/patterns" method="POST">
  <label for="pattern_name">Name: <input type="text" name="name" id="pattern_name"></label>
  <label for="pattern_theme">Theme: <input type="text" name="theme" id="pattern_theme"></label>
  <input type="submit" value="Create Pattern">
</form>
