<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Pattern Name: <%= @pattern.name %></h2>
<br>
<h2>Quantity: <%= @pattern.quantity %></h2>

<br><br>
<a href="/patterns/patterns">See Your Patterns</a></br>
<a href="/pieces/pieces">See Your Pieces</a></br>
<a href="/patterns/create_pattern">Add Another Pattern to your Collection</a><br>
<a href="/pieces/create_piece">Add A Piece to your Collection</a><br>
<a href="/collections/show_collection">See Your Collection</a><br>
<a href="/logout">Log Out</a><br>
